 
*, *::before, *::after {
    box-sizing: border-box;
  }
body{
  padding: 0%;
  display: flex;
  flex-direction: column;
}
a{
  text-decoration: none;
  color: black;
}
.nav-container{
  background-color: rgb(245, 157, 172);
  display: flex;
  position: fixed;
 justify-content:space-between;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow:10px 10px 25px 5px pink;
}
.nav-menu li{
  display: inline;
  list-style-type: none;
  padding: 2vw;
  text-decoration: none;
}
.nav-menu, .nav-title{
  padding: 0vw 2vw 0vw 2vw;
}
.nav-title{
  padding-top: 2.5vh;
}
.sub-menu{
  height: 100vh;
  width: 100%;
  overflow: auto;
}
.connect{
  width: 3cm;
}
.connectbox{
  background-color: aqua;
  overflow: auto;
}

h3{
  margin-top: 30vh;
}
section[id="about"] h1{
  font-size: 30pt;
  margin-top: -4mm;
}

p{
  text-align: justify;
}
ul,p{
  font-size: larger;
}
.box{
  margin-top: 0;
  padding: 10vh 5vw;
  height: 100%;
  border: 1px solid #8a8a8a;
  border-radius: 1%;
  overflow: auto;
}

section[id="home"], section[id="contacts"]{
  text-align: center;
}

section[id="about"],section[id="experiences"], section[id="contacts"]{
  padding: 10vh 5vw 5vh 5vw;
  min-height: 100vh;
  height: 100%;
}
div[id="about-biodata"]{
  display: flex;
  flex-direction: row;
}

section[id="about"]{
  padding: 15vh 5vw 5vh 5vw;
  height: 100%;
}
section[id="about"] img[id="avatar"]{
  height: 5cm;
  border-radius: 50%;
  border-color: #8a8a8a;
}
section[id="about"] div[id="description"]{
  float: right;
  margin-left: 4vw;
}
aside{
  float: left;
  width: 55%;
}

div[id="box-contacts"]{
  display: inline;
  list-style-type: none;
  padding: 2vw;
  text-decoration: none;
}

@media screen and (max-width: 768px) {

  section[id="about"] h1{
    font-size: 30pt;
    margin-top: 5mm;
    text-align: center;
  }
  aside{
    margin-left: 23%;
  }
  div[id="about-biodata"]{
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
  }
aside{
  text-align: center;
  align-items: center;
  align-content: center;
  }
  
section[id="about"] div[id="description"]{
  float: right;
  margin-left: 0vw;
}
section[id="about"]{
  padding: 15vh 5vw 5vh 5vw;
  height: 100%;
}
}