 
*, *::before, *::after {
    box-sizing: border-box;
  }
body{
  padding: 0%;
  display: flex;
  flex-direction: column;
}
a{
  text-decoration: none;
}
.nav-container{
  background-color: rgb(255, 255, 255);
  display: flex;
  position: fixed;
 justify-content:space-between;
  top: 0;
  left: 0;
  width: 100%;
}
.nav-menu li{
  display: inline;
  list-style-type: none;
  padding: 2vw;
  text-decoration: none;
}
.nav-menu, .nav-title{
  padding: 0vw 2vw 0vw 2vw;
}
.nav-title{
  padding-top: 2.5vh;
}
.sub-menu{
  height: 100vh;
  width: 100%;
  overflow: auto;
}

h3{
  margin-top: 30vh;
}
h1{
  font-size: 30pt;
}

section[id="home"]{
  text-align: center;
}
section[id="about"]{
  padding: 10vh 5vw 5vh 5vw;
  height: 100%;
}
div[id="about-biodata"]{
  margin-top: 0;
  display: flex;
  flex-direction: row;
  padding: 1vh 5vw;
  height: 100%;
  border: 3px solid #8a8a8a;
  overflow: auto;
  
}
section[id="about"] img[id="avatar"]{
  margin-top: 15vh;
  width: 5cm;
  border-bottom-right-radius: 25%;
  border-top-left-radius: 25%;
  margin-right: 5vw;
}
section[id="about"] div[id="description"]{
  float: right;
  margin-left: 2vw;
}
p, ul{
  text-align: justify;
  font-size: larger;
}
aside{
  float: left;
  width: 35%;
  margin-right: 20px;
  text-align: center;
  margin-left: 20px;
}
section[id="experiences"]{
  background-color: yellow;
}
section[id="contacts"]{
  background-color: purple;
}

@media screen and (max-width: 768px) {
  div[id="about-biodata"]{
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
  }
aside{
  margin-left: 25%;
  padding: -1%;
  }
  
section[id="about"]{
  padding: 10vh 5vw 5vh 5vw;
  height: 100%;
}
}